@font-face {
    font-family: 'norwester';
    src: url('fonts/norwester.otf');
}

@media print {
    a:link:after, a:visited:after {    
        content: "";    
    }
    
    .page-break {
        display: block;
    }

    .pull-right {
        float: none !important;
    }
}

@media (max-width: 1157px) {
    header {
        text-align: center;
    }

    header li {
        display: inline;
        white-space: nowrap;
    }

    header li {
        padding: 8px;
    }
}

body {
    font-size: 1.5em;
    line-height: 1.4;
    color: #333;
}

a {
    text-decoration: none;
}

#content a,
#content a:hover,
#content a:focus,
#content a:active {
    color: #0155ab;
}

#name, #label {
    margin: 0;
}

header, section h3 {
    font-family: 'norwester';
    color: #fff;
}

header {
    background-color: #24292c;
    padding: 16px 0;
}

header a,
header a:hover,
header a:focus,
header a:active {
    color: white;
}

header h1 {
    font-size: 5em;
}

section h3 {
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 20px;
    color: #333;
}

h4 {
    margin: 0;
    font-weight: bold;
}

#job-container > ul:first-of-type,
#reference-container > ul:first-of-type {
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
    
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}


#job-container > ul:first-of-type li,
#reference-container > ul:first-of-type li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

#references p {
    font-style: italic;
}

#references .reference, #jobs .job {
    padding-bottom: 32px;
}

li {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.page-break {
    display: none;
    text-align: center;
    
    -webkit-column-break-after: always;
    page-break-after: always;
    break-after: always;
}

.fa-quote-left, .fa-quote-right {
    font-size: 16px;
    color: #333;
}

#contact-info {
    margin: 0;
    padding: 0;
}

#contact-info li {
    list-style: none;
    font-size: 1.5em;
}

#contact-info li i {
    padding-right: 8px;
}

#skill-container ul {
    -webkit-columns: 4 100px;
    -moz-columns: 4 100px;
    columns: 4 100px;

    padding: 0;
    margin: 0;
}

#skill-container ul li {
    list-style: none;
}

.highlights {
    list-style: circle;
    padding-left: 1.75em;
}
