<html>

    <head>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    </head>

    <body>
        <div id="job-container"></div>

        <script type="text/template" id="job-template">
            <ul>
                <% _.each(jobs, function(job) { %>
                <li><%= job.company %></li>
                <% }); %>
            </ul>
        </script>

        <script type="text/javascript">
            $(function() {
                var template = _.template($('#job-template').html());
                console.log(template);

                $.getJSON('resume.json', function(json) {
                    $('#job-container').html(template({
                        jobs: json.work
                    }));
                });
            });
        </script>
    </body>
</html>