<div class="timeline">
    {{#education}}
    <div class="timeline-item">
        <div class="timeline-content">
            <div class="job-header">
                <div class="job-title-info">
                    <h4 class="job-title">{{studyType}}{{#area}}, {{area}}{{/area}}</h4>
                    <div class="job-company">{{institution}}</div>
                </div>
                {{#date}}
                <div class="job-date">{{date}}</div>
                {{/date}}
            </div>
            {{#gpa}}
            <div class="job-highlights">
                <div>GPA: {{gpa}}</div>
            </div>
            {{/gpa}}
        </div>
    </div>
    {{/education}}
</div> 
