<div class="header-wrapper">
    <div class="header-main">
        <div class="header-left">
            <h1 class="header-name">{{basics.name}}</h1>
            <h2 class="header-title">{{basics.label}}</h2>
            <div class="header-location">
                <i class="fa fa-map-marker"></i> {{basics.location.city}}, {{basics.location.region}}
            </div>
        </div>
        <div class="header-right">
            <div class="header-contact">
                <a href="mailto:{{basics.email}}" class="contact-item">
                    <i class="fa fa-envelope"></i> <span>{{basics.email}}</span>
                </a>
                <a href="tel:{{basics.phoneHref}}" class="contact-item">
                    <i class="fa fa-phone"></i> <span>{{basics.phone}}</span>
                </a>
            </div>
            <div class="header-social">
                {{#basics.profiles}}
                <a href="{{url}}" target="_blank" class="social-item">
                    <i class="fa fa-{{faIcon}}"></i>
                    <span class="social-link-text">{{title}}</span>
                </a>
                {{/basics.profiles}}
            </div>
        </div>
    </div>
</div>
