<div class="timeline">
    {{#work}}
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <div class="job-header">
                <div class="job-title-info">
                    <h4 class="job-title">{{position}}</h4>
                    <div class="job-company">
                        <a href="{{website}}" target="_blank">{{company}}</a>
                    </div>
                </div>
                {{#date}}
                <div class="job-date">{{date}}</div>
                {{/date}}
            </div>
            {{#highlights}}
            <ul class="job-highlights">
                {{#.}}
                <li>{{{.}}}</li>
                {{/.}}
            </ul>
            {{/highlights}}
        </div>
    </div>
    {{/work}}
</div>
