<ul>
    <% _.each(references, function(reference) { %>
        <li>
            <div class="reference">
                <p>
                    <i class="fa fa-quote-left"></i>
                    <%= reference.reference %>
                    <i class="fa fa-quote-right"></i>
                </p>
                <h4>&mdash; <a href="mailto:<%= reference.email %>"><%= reference.name %></a></h4>
                <div><%= reference.position %> @ <%= reference.company %></div>
            </div>
        </li>
    <% }); %>
</ul>
